# Secrets; exceptions should whitelist below
*SECRET*
*secret*
*Secret*

# Credentials; exceptions should whitelist below
*cred*
*CRED*
*Cred*

# Compiled files
*.tfstate
*.tfstate.backup
.terraform/

# Whitelist Area
